<!doctype html>
<html lang="et">
<head>
    <meta charset="utf-8">
    <title>exweb</title>

    <style type="text/css">
        .ng-cloak { display: none !important; }
    </style>
</head>

<body class="ng-cloak" ng-app="app" ng-controller="PostCtrl as vm">

    <input type="hidden" ng-model="vm.post.id">

    <label for="title">Pealkiri</label>
    <input id="title" ng-model="vm.post.title"><br>

    <label for="text">Text</label>
    <input id="text" ng-model="vm.post.text"><br>

    <button ng-click="vm.save(vm.post)">Salvesta</button>
    <button ng-click="vm.cleanForm()">Puhasta väljad</button>

    <br><br><br>

    <div ng-repeat="post in vm.posts">
        {{ post.title }}, {{ post.text }}
        <a href ng-click="vm.deletePost(post.id)">X</a>
        <a href ng-click="vm.editPost(post.id)">Muuda</a>
    </div>

</body>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="app/app.js"></script>
<script src="app/http.srv.js"></script>
<script src="app/post.ctrl.js"></script>

</html>
